@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #26011c;
  --my-bg: #d9d9d9;
  --bg: "#BF9663";
  --textcolor: #f26716;
  --backcolor: #652554;
}
[data-theme="dark"] {
  --my-color: #d9d9d9;
  --my-bg: #26011c;
  --bg: "#BF9663";
  --textcolor: #f26716;
  --backcolor: #d9d9d9;
}

body {
  margin: 0;
  background-color: var(--my-bg);
  color: var(--my-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  background-color: var(--backcolor);
  color: var(--textcolor);
}
